@using E_Shop.SeoUrl
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<section id="slider">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<a href="https://localhost:44387/Category/Details/1">
								<div class="col-sm-4">
									<h1><span>Özkan</span> Market</h1>
									<h2 style="color:darkorange">YEDİKÇE YEDİRTEN ATIŞTIRMALIKLAR !</h2>
									<p > </p>
									<button type="button" class="btn btn-default get">Ürünlere Git</button>
								</div>
								<div class="col-sm-8">
									<img src="~/Content/Image/atıştırmalık_kampanya.jpg" class="girl img-responsive" alt="atıştırmalık_kampanya"/>
								</div>
							</a>
						</div>

						<div class="item">
							<a href="https://localhost:44387/Category/Details/6">
								<div class="col-sm-6">
									<h1><span>Özkan</span> Market</h1>
									<h2 style="color:darkorange">PATİLİ DOSTLARIMIZ İÇİN KAÇMAZ FIRSATLAR !</h2>
									<p></p>
									<button type="button" class="btn btn-default get">Ürünlere Git</button>
								</div>
								<div class="col-sm-6">
									<img src="~/Content/Image/evcilhayvan_kampanya.jpg" class="girl img-responsive" alt="evcilhayvan_kampanya"/>
								</div>
							</a>
						</div>

						<div class="item">
							<a href="https://localhost:44387/Category/Details/3">
								<div class="col-sm-5">
									<h1><span>Özkan</span> Market</h1>
									<h2 style="color :darkorange">PRATİK LEZZETLER !</h2>
									<p></p>
									<button type="button" class="btn btn-default get">Ürünlere Git</button>
								</div>
								<div class="col-sm-7">
									<img src="~/Content/Image/temelgıda_kampanya.jpg" class="girl img-responsive" alt="temelgıda_kampanya"/>
								</div>
							</a>
						</div>
					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>
<section>
    <div class="container">
        <div class="row">
            @Html.Action("CategoryList", "Category")

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">ÜRÜNLERİMİZ</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">

                                        <a href="/Product/ProductDetails/@item.Id/@(Seo.AdresDuzenle(item.Name))"><img src="~/Content/Image/@item.Image" @*width="10" height="150"*@ alt="" /></a>
                                        <h2>@item.Price</h2>
                                        <p>@item.Name</p>
                                        <a href="/Product/ProductDetails/@item.Id/@(Seo.AdresDuzenle(item.Name))" class="btn btn-default add-to-cart">Ürün Detay</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }

                    @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)

                </div>
                <br />
                <br />
                <br />
                <br />
                @Html.Action("PopularProduct", "Product")

            </div>
        </div>
    </div>
</section>






